<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rsunhas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logorumahsakit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSUnhas"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Tiketantrian.TiketAntrianTht"
            android:exported="false" />
        <activity
            android:name=".PoliTht"
            android:exported="false" />
        <activity
            android:name=".Tiketantrian.TiketAntrianObgin"
            android:exported="false" />
        <activity
            android:name=".Tiketantrian.TiketAntrian3"
            android:exported="false" />
        <activity
            android:name=".PoliObgin"
            android:exported="false" />
        <activity
            android:name=".Tiketantrian.TiketAntrian"
            android:exported="false" />
        <activity
            android:name=".PoliUmum"
            android:exported="false" />
        <activity
            android:name=".DaftarPoli"
            android:exported="false" />
        <activity
            android:name=".MenuAntrian"
            android:exported="false" />
        <activity
            android:name=".PasienLama"
            android:exported="false" />
        <activity
            android:name=".kamar.Kamar"
            android:exported="false" />
        <activity
            android:name=".Dokter"
            android:exported="false" />
        <activity
            android:name=".TentangRS"
            android:exported="false" />
        <activity
            android:name=".MenuUtama"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>